<%= link_to "New product", :controller => "products", :action => "new" %>
<% if flash[:notice] %>
	<p style="color:red;"><%= flash[:notice] %></p>
<% end %>
<% @products.each do |product| %>
    <div class="productlist_item">
        <div class="product_image">
            image
        </div>
        <div class="product_info">
            <div class="product_info_header">
                <div><%= product.name %></div>
                <div>category</div>
                <div>by: manufacturer</div>
                <div>*****</div>
            </div>
            <div class="product_description">
                <%= product.description %>
            </div>
        </div>
        <div class="product_download">
            <a href="<%= product.download_url %>">download</a>
        </div>
    </div>
<% end %>
